.encabezado{
background-color: burlywood;
width: 100%;
height: 1400px;
}
.menu{
background-color: peru;
width: 100%;
height: 100px;
}
.menu2{
background-color: rgb(238, 208, 168);
width: 100%;
height: 250px;
font-size: 25px;
color: azure;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: justify;
}
.derecha{
background-color: rgb(214, 126, 92);
width: 20%;
height: 1200px;
}
.centro{
background-color: rgb(228, 172, 152);
width: 60%;
height: 1200px;
}
.izquierda{
background-color: rgb(196, 140, 95);
width: 20%;
height: 1200px;
}
.tecnologia{
background-color: rgb(34, 33, 33);
width: ;
height: ;
}
.biologia{
background-color: rgb(58, 56, 56);
width: ;
height: ;
}
.sociales{
background-color: rgb(80, 79, 79);
width: ;
height: ;
}
.matematicas{
background-color: rgb(143, 136, 136);
width: ;
height: ;
}
.ingles{
background-color: rgb(228, 208, 208);
width: ;
height: ;
}