.encabezado{
background-color: burlywood;
width: 100%;
height: 1400px;
}
.menu{
background-color: peru;
width: 100%;
height: 100px;
text-align: center;
font-size: 30px;
color: azure;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu2{
background-color: rgb(238, 208, 168);
width: 100%;
height: 250px;
font-size: 25px;
color: azure;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}